<div class="container" id="cont2">
    <h1>LANIAKEA.market</h1>
    <h2>Category autodetection algorithm <br> parsing the title string</h2>
    <div class="description">Smart choice of category in case of complex compound item title string and the presence of many similar categories in the category tree. Detecting of undefined category items for expansion of categories and synonyms base.</div>
    <h3>Solves the problem:</h3>
    <p>Autodetection of categories for big inventory listing using items title.</p>

    <div class="category__content-search">
        <div class="content-search__title">Taxonomy processor test (RU)</div>
        <p>Search string</p>
        <form action="" method="get" class="content-search__form_search">
            <input type="text" value="" placeholder="привод...">
            <button type="submit">Search</button>
        </form>
        <p class="content-search__text">Category detecting log:</p>
        <p class="content-search__text">Item will be placed in category:</p>
        <div class="content-search__title">Привод (1122)</div>
        <p class="content-search__text">eng: Cv Axle Shaft, de:fahren</p>
        <div class="content-search__grad"></div>
    </div>
</div>