<div class="container" id="cont3">
    <h1>LANIAKEA.market</h1>
    <h2>Tool and structure for storing and editing the category tree</h2>
    <div class="description">1400 Vehicle Parts Categories Ready for testing.</div>
    <h3>Solves the problem: </h3>
    <p>High-precision semantic item category detection and search engine results.</p>

    <div class="category__content-search">
        <div class="folder">
            <div class="folder__item folder__item-name">
                <img class="folder__img" src="../../assets/images/edit_page/open_folder.svg" alt="">
                Automotive parts [1]
                <div class="plus"></div>
            </div>
            
            <div class="folder__item">
                #Other [1483]
                <div class="plus"></div>
                <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                <img class="folder__edit" src="../../assets/images/edit_page/bin.svg" alt="">
            </div>
            <div class="folder">
                <div class="folder__item folder__item-name">
                    <img class="folder__img" src="../../assets/images/edit_page/open_folder.svg" alt="">
                    Air intake [779]
                    <div class="plus"></div>
                    <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                </div>

                <div class="folder__item">
                    Intake air resonator [882]
                    <div class="plus"></div>
                    <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    <img class="folder__edit" src="../../assets/images/edit_page/bin.svg" alt="">
                </div>

                <div class="folder__item">
                    Air intake Duct [870]
                    <div class="plus"></div>
                    <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    <img class="folder__edit" src="../../assets/images/edit_page/bin.svg" alt="">
                </div>

                <div class="folder__item">
                    Air flow meter [86]
                    <div class="plus"></div>
                    <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    <img class="folder__edit" src="../../assets/images/edit_page/bin.svg" alt="">
                </div>

                <div class="folder">
                    <div class="folder__item folder__item-name arrow_close">
                        <img class="folder__img" src="../../assets/images/edit_page/close_folder.svg" alt="">
                        Trottle Body [775]
                        <div class="plus"></div>
                        <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    </div>
                </div>

                <div class="folder">
                    <div class="folder__item folder__item-name arrow_close">
                        <img class="folder__img" src="../../assets/images/edit_page/close_folder.svg" alt="">
                        Intercooler [892]
                        <div class="plus"></div>
                        <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    </div>
                </div>

                <div class="folder__item">
                    Vacuum switch valve [877]
                    <div class="plus"></div>
                    <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    <img class="folder__edit" src="../../assets/images/edit_page/bin.svg" alt="">
                </div>
                <div class="folder__item">
                    Manifold control valve [873]
                    <div class="plus"></div>
                    <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    <img class="folder__edit" src="../../assets/images/edit_page/bin.svg" alt="">
                </div>

                <div class="folder">
                    <div class="folder__item folder__item-name arrow_close">
                        <img class="folder__img" src="../../assets/images/edit_page/close_folder.svg" alt="">
                        Air cleaner box [777]
                        <div class="plus"></div>
                        <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    </div>
                </div>

                <div class="folder__item">
                    Air cleaner hose [887]
                    <div class="plus"></div>
                    <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    <img class="folder__edit" src="../../assets/images/edit_page/bin.svg" alt="">
                </div>

                <div class="folder">
                    <div class="folder__item folder__item-name arrow_close">
                        <img class="folder__img" src="../../assets/images/edit_page/close_folder.svg" alt="">
                        Turbocharger [778]
                        <div class="plus"></div>
                        <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    </div>
                </div>

                <div class="folder__item">
                    Air cleaner filter [878]
                    <div class="plus"></div>
                    <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    <img class="folder__edit" src="../../assets/images/edit_page/bin.svg" alt="">
                </div>

                <div class="folder__item">
                    Additional air cleaner filter [896]
                    <div class="plus"></div>
                    <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    <img class="folder__edit" src="../../assets/images/edit_page/bin.svg" alt="">
                </div>

                <div class="folder__item">
                    High flow air filter [897]
                    <div class="plus"></div>
                    <img class="folder__edit" src="../../assets/images/edit_page/pencil.svg" alt="">
                    <img class="folder__edit" src="../../assets/images/edit_page/bin.svg" alt="">
                </div>
            </div>
        </div>
        <div class="content-search__grad"></div>
    </div>
</div>