<div class="container" id="cont2">
    <h1>LANIAKEA.market</h1>
    <h2>Tool and structure for storing and editing standart, slang, abbreviations, spelling mistakes category name synonyms. </h2>
    <div class="description">7000 Synonyms For Vehicle Parts Categories Ready for testing.</div>
    <h3>Solves the problem:</h3>
    <p>Background names extension for each category. Hidden background use of synonyms for the search engine. Generating SEO optimized multi synonymous pages for indexing.</p>

    <div class="category__content-search tool__content">
        
    </div>
</div>