<div class="navigation">
    <ul class="navigation__tracking-list">
        <li class="navigation__tracking-item"></li>
    </ul>
    <ul class="navigation__list">
        <li class="navigation__item active" id="nav1">
            <p>Smart Multi Step Category Detection Algorithm for Inventory Items</p>
        </li>
        <li class="navigation__item" id="nav2">
            <p>Smart Multi Step Category Detection Algorithm for Inventory Items</p>
        </li>
        <li class="navigation__item" id="nav3">
            <p>Extensible Taxonomy Tree Structure for Categories</p>
        </li>
        <li class="navigation__item" id="nav4">
            <p>Extensible Synonyms Structure for Categories</p>
        </li>
        <li class="navigation__item" id="nav5">
            <p>Ontology-based Categories Relations Structure</p>
        </li>
        <li class="navigation__item" id="nav6">
            <p>Multi Language Support</p>
        </li>
        <li class="navigation__item" id="nav7">
            <p>Smart Inventory Item Titles Translate and Localization</p>
        </li>
        <li class="navigation__item" id="nav8">
            <p>Sellers Inventory Changes Tracking and Update</p>
        </li>
        <li class="navigation__item" id="nav9">
            <p>“eBay Motors” Taxonomy & eBay API Ready</p>
        </li>
    </ul>
</div>